NODE_ENV=local
ALLOWED_ORIGIN=http://localhost:5173
DATABASE_URL="file:./fst.db"
DEMO_MODE=true
# OPENAI_API_KEY=your-openai-api-key
# ANTHROPIC_API_KEY=your-anthropic-api-key
# GEMINI_API_KEY=your-gemini-api-key
# EMAIL_SERVICE_API_TOKEN=your-resend-api-token